.form { 

    background-color: #18183d;
    width: 40%;
    height: calc(100%)-10px;
    box-shadow: 0 10px 2px 2px #000000;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin: 25px 30px 25px 350px;
    border-radius: 10px;
    padding: 20px;
    transition: 1s all ease-in-out;
    }
    
    .label{
    display: block;
    font-size: larger;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .8;
    }
    
    .input{
    font-size: larger;
    padding: 5px;
    margin: 2px;
    width: 100%;
    border-radius: 30px;
    opacity: .8;
    }
  
    p {
      color: #fff;
      opacity: .8;
    }
  
    span {
      border: 1px solid #fff;
      padding: 6px 20px 6px 20px;
      border-radius: 30px;
      cursor: pointer;
      font-weight: 700;
    }
  
    .login-text > span {
      color: beige;
    }
  
    h1 {
      color: #efefef;
      opacity: .8;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Arial, Helvetica, sans-serif;
    }
  
    input::placeholder{
      padding: 30px;
      font-size: 15px;
      font-weight: 700;
    }
  
    .reg-btn{
    color: #fff;
    background-color: transparent;
    border-radius: 5px;
    font-size: larger;
    display: block;
    padding: 5px 20px 5px 20px;
    margin: 10px auto;
    border-radius: 30px;
    cursor: progress;
    border: 1px solid #fff;
    opacity: .8;
    width: calc(100%)-50px;
    
    font-weight: 700;
    background-color: transparent;
    }
    
    .messages{
    display: flex;
    justify-content: center;
    }
    
    .error{
    display: block;
    background-color: transparent;
  
    border-radius: 10px;
   color: red;
    width: fit-content;
    height: 50px;
    padding: 15px;
    transition: .5s ease-in-out;
    font-size: 17px;
    }
    
    .success{
    display: block;
    background-color: transparent;
    color: #fff;
    width: fit-content;
    height: 50px;
    padding: 0 12px 0 12px;
    border-radius: 30px;
    }
  
    @media screen and (max-width: 768px){
      .form {
        background-color: #18183d;
        width: 40%;
        height: calc(100%)-10px;
        box-shadow: 0 10px 2px 2px #000000;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        margin: 25px 30px 25px 25px;
        border-radius: 10px;
        padding: 20px;
        }
  
        .error{
          display: block;
          background-color: transparent;
          border-radius: 10px;
          outline: #fff;
          color: red;
          width: fit-content;
          height: 50px;
          padding: 15px;
          transition: .5s ease-in-out;
          font-size: 17px;
          margin-top: 5px;
          }
          
          .success{
          display: block;
          background-color: transparent;
          color: #fff;
          width: fit-content;
          height: 50px;
          padding: 0 12px 0 12px;
          border-radius: 30px;
          }
  
          .btn {
            padding: 5px 10px 5px 10px;
          }
    }