body {
    background-color: #fff;
    color: #000000;
}

.App{
    max-width: 70%;
    margin-left: 30%;
}

.form{
    max-width: 70%;
    margin-left: 30%;
    margin-right: 30%;
    background-color: #191949;
    color: #fff;
    text-align: center;
    border-radius: 20px;
    
}

form > input{
    text-align: center;
    padding: 15px;
    margin-left: 20%;
    border-radius: 15px;
    border: none;
    outline: none;

}

textarea{
    border-radius: 15px;
    width: 60%;
    height: 100px;
    padding: 20PX;
    border: none;
    outline: none;
}

.button-event {
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 22px;
    background-color: #191949;
    border: 1px solid #fff;
    outline: none;
    color: #fff;

}

.button-event:hover{
    background-color: #fff;
    color: black;
    transition: all .6s ease-in-out;
}

@media screen and (max-width: 768px){
    .form{
        max-width: 80%;
        margin-left: 30px;
        margin-right: 30px;
        background-color: #191949;
        color: #fff;
        text-align: center;
        border-radius: 20px;
        padding-top: 30px;
        margin-top: 30px;
        
    }

    form > input{
        text-align: center;
        padding: 15px;
        margin-left: 30px;
        margin-right: 30px;
        border-radius: 15px;
        border: none;
        outline: none;
    
    }
}
